{% extends 'base.html' %}

{% block title %}Optics - Homepage{% endblock %}

{% block content %}
<div class="300-px-wide">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/download.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://hollyeyewear.com/cdn/shop/collections/fendi-eyewear-2014-fall-winter-campaign-01.jpg?v=1547224933" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/71184126_2404051393186121_3969102337636564992_n.png') }}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="{{ product.file }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <p class="card-text">₾{{ product.price }}</p>
                        </div>
                    </div>                 
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a href="{{ url_for('product_details', id=product.id) }}" class="btn btn-outline-dark mt-auto">ვრცლად ნახვა</a>
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent"></div>
                            <div class="col text-end">
                                <a href="{{ url_for('edit_product', id=product.id) }}" class="btn btn-primary btn-sm">Edit</a>
                            </div>
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent"></div>
                            <form action="{{ url_for('delete_product', id=product.id) }}" method="POST">
                                <div class="col text-end">
                                <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
