
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">

        <a href="https://www.tbceducation.ge" target="blank"><div class="aizuI7 TcoJIb comp-lfiurxu9">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="0 0 35.999 32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.999 32" height="32" width="36" data-type="color" role="presentation" aria-hidden="true">
                <g>
                    <path fill="#00ADEE" d="M15.815 18.48a3.436 3.436 0 0 1-1.09 2.867v.002a39.804 39.804 0 0 1-11.993 7.596l-.265.095a5.4 5.4 0 0 1-1.25.335l-.03.003A.974.974 0 0 1 .002 28.37v.003c.018-.219.063-.424.132-.615l-.005.017c1.202-3.38 5.271-10.722 7.027-13.747 2.183-3.79 7.908-12.909 8.762-13.91a.302.302 0 0 1 .376-.086L16.29.031c.142.068.26.156.116.661-.75 2.702-1.835 8.587-.712 16.633.058.416.122.796.122 1.156h-.002Z" data-color="1"></path>
                    <path fill="#00ADEE" d="M17.218 22.345a3.51 3.51 0 0 1 2.02-.63c.372 0 .731.056 1.068.163l-.025-.006c4.936 1.513 9.221 3.777 12.963 6.692l-.084-.063c.353.274.662.578.93.915l.01.011a.963.963 0 0 1-.28 1.517l-.006.003c-.17.082-.368.148-.576.185l-.014.001c-3.558.666-12.047.839-15.567.865-4.413.03-15.262-.307-16.576-.52a.305.305 0 0 1-.263-.275V31.2c0-.155 0-.297.527-.427 2.747-.713 8.434-2.728 14.94-7.706.332-.281.632-.521.933-.725v.002Z" data-color="1"></path>
                    <path fill="#00ADEE" d="M19.918 19.23a3.505 3.505 0 0 1-1.946-2.357l-.005-.023c-.646-2.651-1.016-5.694-1.016-8.823 0-1.945.144-3.856.42-5.724l-.026.212a5.21 5.21 0 0 1 .355-1.299l-.012.034a.988.988 0 0 1 1.48-.52h-.004c.173.12.323.256.456.408l.003.003c2.362 2.712 6.758 9.893 8.54 12.882 2.23 3.76 7.381 13.21 7.814 14.45a.305.305 0 0 1-.11.365h-.001c-.131.088-.264.14-.632-.23-2.02-1.99-6.617-5.863-14.229-8.925a16.308 16.308 0 0 1-1.086-.453h-.001Z" data-color="1"></path>
                </g>
            </svg>
            </div></a>
            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent"></div>
                
        <title>ოპტიკური ჩარჩოები - Optics</title> 
        <a class="navbar-brand" href="/"><b>Optics</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">მთავარი</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">ჩვენს შესახებ</a></li>
                <li class="nav-item dropdown">
                    <li class="nav-item"><a class="nav-link" href="/addproduct">პროდუქტის დამატება</a></li>
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">მაღაზია</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">პროდუქცია</a></li> 
                        <li><hr class="dropdown-divider" /></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1" href=></i>
                    კალათა
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent"></div>
            <form class="d-flex btn-group">
                {% if current_user.is_authenticated %}
                <a href="/logout" class="btn btn-outline-dark">გამოსვლა</a>
                {% else %}
                <a href="/register" class="btn btn-outline-dark">რეგისტრაცია</a>
                <a href="/login" class="btn btn-outline-dark">შესვლა</a>
            </form>
            {% endif %}
        </div>
    </div>
</nav>